<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imageboard Project</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <main id="main">
        <div id="helper-div1">
            <label for="title">Title</label>
            <input v-model="title" name="title">
            <label for="username">Username</label>
            <input v-model="username" name="username">
            <label for="description">Description</label>
            <input v-model="desc" name="desc">
            <input
            name="file"
            type="file"
            accept="image/*"
            v-on:change="setFile"
            >
            <button v-on:click="upload">Upload</button>
        </div>
        <div id="helper-div2">
            <div v-if="images" v-for="image in images">
                <img :key="image.id" :src="image.url" :alt="image.title" v-on:click="openModal(image.id)">
                <p>{{image.title}}</p>
            </div>
        </div>
        <modal v-if="selectedImageId" v-bind:id="selectedImageId" @close="closeModal"></modal>
    </main>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>